<p id="notice"><%= notice %></p>

<p>
  <strong>画像:</strong>
  <img src="<%= @book.img  %>" style="height:100px;">
</p>

<p>
  <strong>タイトル:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>著者:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>価格:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>出版社:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>出版日:</strong>
  <%= @book.date %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>


<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
